BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP    "clk" SITE "P3";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "LED" SITE "L2";
IOBUF PORT     "LED" IO_TYPE=LVCMOS33;
LOCATE COMP    "rst" SITE "K18";
IOBUF PORT     "rst" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
